.content {
  display: flex;
  flex: 1 0 100%;
  margin-top: 20px;
  flex-wrap:wrap;
}
.leftside {
  flex: 1 0 20%;
  flex-wrap:wrap;
  background-color: white;
}
.maincontent {
  flex: 1 0 60%;
  flex-wrap:wrap;
  background-color: white;
}
.rightside {
  flex: 1 0 15%;
  flex-wrap:wrap;
  background-color: white;
}
