.headercontainer {
  display: flex;
  /* flex: 0 0 100%; */
  justify-content: space-between;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}
.card-content {
  border: 1px solid rgba(0, 0, 0, 0.212);
  height: auto;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
}
.heading {
  align-self: center;
}
